@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

main {
    display: flex;
    background-color: #ffc60d;
    align-content: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

.container {
 align-items: center;
 width: 60vw;
 height: 100vh;
 display: flex;
}

.left {

    width: 40vw;
    height: 80vh;
    background-color: #36320A;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.right {
    width:  70vw;
    height: 80vh;
    background-color: #fff38b;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.logo { 
    margin-right: 100px;
    margin-top: 90px;
    flex-direction: row;

}

.retangulo {
 margin-bottom: 10px;    
 margin-right: -10px;
}

h1 {
    color: white;
    font-size: 30px;
} 

h2 {
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin-left: 45px;
    margin-bottom: 50px;
}

.btn-enter {
    transition-duration: 0.1s ;
    color: white;
    font-weight: 700;
    font-size: 30px;
    width: 250px;
    height: 70px;
    border-radius: 30px;
    background: #36320A;
    border: 5px solid white;
    cursor: pointer;

}

.btn-enter:hover {
 background-color: white;
 color: black;

}

a {

 cursor: pointer;
 font-size: 20px;
 margin-top: 20px;
 color: white;
 text-decoration: none;

}

h3 { 
    font-size: 40px;
    color: black;
    margin-top: -100px;
}

h4 {
    font-size: 20px;
    color: black;
    font-weight: 400;
    margin-top: -10px;
}

.cardlogin {
    margin-top: 20px;
}

.textfield {
    display: flex;
    height: 50px;
    width: 400px;
    border-radius: 16px;
    margin: 20px;

}

label {
    color: #36320A ;
    font-weight: 700;
}

input {
    background: #E2CE1A;
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 16px;
}